// About.scss

// Hero Section
.about-page {
    .hero-section {
        background-image: url('../../assets/images/grid-pattern.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        /* 5% opacity */
        margin-top: 0;



        color: #fff;

        h1 {
            font-weight: 300;
            padding-top: 50px;

        }

        .text {
            background-color: #0D0D0D;
            color: #fff;
            position: relative;
            padding-left: 25px;
        }

        .hero-text {
            position: relative;
            padding-top: 300px;
        }



    }

}


// Our team
/*.team-section {

    background-color: #0D0D0D;
    color: #fff;

    h1 {
        margin-bottom: 75px;
    }
}*/
.team-section {
    background-color: #172121;
    color: #fff;

    .col-lg-5 {
        h1 {
            padding-bottom: 75px;
        }

        p {
            width: 80%;
        }

    }




}

.image-row {
    position: relative;
    padding-left: 150px;
}

.larger-image {
    position: relative;

}

.smaller-image {
    position: absolute;
    width: 33%;
    /* Approximately one-third of the size */
    bottom: 0;
    right: 0;
    transform: translate(-30%, 30%);
    /* Adjust the position to overlap */
}

.img-fluid {
    width: 100%;
    height: auto;
}

// Investors
.investor-section {
    position: relative;
    background-image: url('../../assets/images/grid-patter-black.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    color: #fff;

    .investors {

        img {
            width: 70%;
        }

    }

    h1 {
        margin-bottom: 75px;
    }

    p {
        width: 80%;
    }

}

// Leadership
.leadership-section {
    background-color: #172121;
    color:#fff;

    h1 {
        padding-bottom: 75px;
    }

    .row {
        position: relative;
        padding-left: 250px;

        .col {
            padding: 50px;

            img {
                margin-bottom: 24px;
            }
        }
    }
}

// News
.news-section {

    .title-section {
        position: relative;
        padding-left: 200px;

        h1 {
            padding-bottom: 75px;
        }


    }

    .article {
        border-bottom: 1px solid #0D0D0D;

        img{
            width: 60%;
        }

        .news-preview {
            display: flex;
            justify-content: center;
            /* Optional: Centers horizontally if needed */
            /* Vertically centers the content */
            flex-direction: column;

            h3 {
                font-size: 1rem;
            }

        }
    }

}

// Contact
.in-touch-section {
    position: relative;
    background-color: #5cff9c;

    .title {
        h1 {
            width: 70%;
            margin-bottom: 100px;
        }

    }

    p {
        width: 60%;
    }
   
}