// About.scss

// Hero Section
.hero-section{

    h1{
        font-weight: 300;
    }
    .hero-text{
        position: relative;
        padding-top: 200px;
    }

    .square{
        background-color: antiquewhite;

    }
}