// Define variables for colors and dimensions
$contact-bg-color: #5cff9c;
$contact-text-color: #172121;

$h1-width-desktop: 80%;
$h1-width-large: 90%;
$h1-width-medium: 50%;
$h1-width-small: 90%;

$margin-bottom-large: 100px;
$margin-top: 24px;
$margin-right: 20px;

// Contact Component Styles
.contact-component {
    position: relative;
    background-color: $contact-bg-color;
    color: $contact-text-color;

    .title {
        h1 {
            width: $h1-width-desktop;
            margin-bottom: $margin-bottom-large;
        }
    }

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    p {
        margin-right: $margin-right;
        margin-top: $margin-top;
        width: 60%; // Adjust width to fit the content
    }

    .col {
        display: flex;
        flex: 1;
        align-items: center; // Vertical alignment
    }

    .secondary-btn {
        width: 100%;
    }
}

// Responsive Styles
@media only screen and (max-width: 1200px) {
    .contact-component {
        .title {
            h1 {
                width: $h1-width-large;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .contact-component {
        .row {
            .col {
                flex: 100%;
                max-width: 100%;
            }
        }

        .title {
            h1 {
                width: $h1-width-medium;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact-component {
        .title {
            h1 {
                width: $h1-width-small;
            }
        }

        .row {
            .col {
                p {
                    width: 100%;
                }
            }
        }
    }
}
