/* Global Styles */
@import url(./font.css);


body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'ES-Klarheit';




}

/* Typography */
h1{
    font-size: 4rem;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 900;
    font-family: 'ES-Klarheit';
    font-weight: bold;
    font-style: normal;

}
h2{
    font-size: 2rem;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'ES-Klarheit';


}
h3{
    font-size: 1.2rem;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'ES-Klarheit';

}
p{
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'ES-Klarheit';

}

.link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
   
}
ul{
    text-decoration: none;
    margin-left: 0;
    padding: 0;

}
li{
    font-size: 1.4rem;
    list-style: none;
    text-decoration: none;
    font-family: 'ES-Klarheit';

}
/* Section */
.section{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Buttons */
.primary-btn{
    background-color: #5cff9c;
    color: #172121;
    padding: 18px 60px; 
    border: none;
    font-size: 1.6rem;
    font-family: 'ES-Klarheit';

    
}
.secondary-btn{
    background-color: #fff;
    color: #172121;
    padding: 18px 60px; 
    border: none;
    font-size: 1.6rem;
    margin-top:24px;
    font-family: 'ES-Klarheit';



}