/* Global Styles */
@import url(./font.css);


body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'ES-Klarheit Medium';




}

/* Typography */
h1 {
    font-size: 4rem;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 900;
    font-weight: bold;
    font-style: normal;
    font-family: 'ES-Klarheit Bold-Italic';


}

h2 {
    font-size: 2rem;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'ES-Klarheit Medium';



}

h3 {
    font-size: 1.2rem;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'ES-Klarheit Medium';


}

p {
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'ES-Klarheit Regular';


}
.nav-link{
    font-family: 'ES-Klarheit Regular';

}

.link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
    font-family: 'ES-Klarheit Regular';


}

ul {
    text-decoration: none;
    margin-left: 0;
    padding: 0;

}

li {
    font-size: 1.4rem;
    list-style: none;
    text-decoration: none;
    font-family: 'ES-Klarheit Regular';


}

/* Section */
.section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Buttons */
.primary-btn {
    background-color: #5cff9c;
    color: #172121;
    padding: 18px 60px;
    border: none;
    font-size: 1.6rem;
    font-family: 'ES-Klarheit Regular';



}

.secondary-btn {
    background-color: #fff;
    color: #172121;
    padding: 18px 60px;
    border: none;
    font-size: 1.6rem;
    margin-top: 24px;
    font-family: 'ES-Klarheit Regular';




}

/* Media queries */

/* Media devices (landscape tablets, 768px and up)

/* Section */
@media only screen and (max-width:768px) {
    .section {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}