// Variables
$dark-color: #172121;
$light-color: #fff;
$accent-color: #E8F1EF;
$font-size-large: 4rem;
$font-size-medium: 1.5rem;
$font-weight-bold: bold;
$font-weight-semi-bold: 600;

// Hero Section
.hero-section {
    background-color: $dark-color;
    color: $light-color;
    position: relative;
    overflow: hidden;

    // Map background
    .map-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: brightness(50%);
    }

    .section {
        position: relative;
        z-index: 1;

        .investment-section {
            padding-top: 150px;

            .hero-number {
                font-size: $font-size-large;
                font-weight: $font-weight-bold;
                border-bottom: 1px solid $light-color;
                margin: 0;
                padding: 0;
            }

            .row {
                padding-top: 50px;
                display: flex;
                flex-wrap: wrap;

                .col {
                    flex: 1;
                }
            }

            h3 {
                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                margin: 0;
            }
        }
    }
}

// Insights Section
.insights-section {
    .insight-preview {
        padding: 50px;
        background-color: $accent-color;

        h2 {
            margin-bottom: 50px;
            font-weight: $font-weight-semi-bold;
        }

        .link {
            display: inline-flex;
            align-items: center;
            font-weight: $font-weight-semi-bold;

            svg {
                margin-left: 15px;
                font-size: 30px;
            }
        }
    }
}

// Media Queries
@media only screen and (max-width: 768px) {
    .hero-section {
        .section {
            .investment-section {
                .row {
                    .col {
                        flex: 100%;
                        max-width: 100%;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}
