// Home.scss

/* Hero Section */
.hero-section {
    background-color: #172121;
    color: #fff;
    position: relative;
    overflow: hidden;

    
    /* Ensure map stays within section bounds */

    .map-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        /* Send map behind content */
        filter: brightness(50%);
        /* Dim the map to blend with background */
    }

    .section {
        position: relative;
        z-index: 1;
        /* Ensure content is above the map */

        .investment-section {
            position: relative;
            padding-top: 150px;

            .hero-number {
                font-size: 4rem;
                font-weight: bold;
                border-bottom: 1px solid #fff;
                margin: 0;
                padding: 0;
            }

            .row {
                padding-top: 50px;
                display: flex;
                flex-wrap: wrap;

                .col {
                    flex: 1;
                }

            }

            h3 {
                font-size: 1.5rem;
                font-weight: bold;
                margin: 0;
            }
        }
    }
}

/* Insights Section */
.insights-section {


    .insight-preview {
        position: relative;
        padding: 50px;
        background-color: #E8F1EF;

        h2 {
            margin-bottom: 50px;
            font-weight: 600;

        }

        .link {
            position: relative;
            display: inline-flex;
            align-items: center;
            font-weight: 600;


            svg {
                margin-left: 15px;
                font-size: 30px;
            }
        }

    }

}

/* Media queries */
@media only screen and (max-width:768px) {

    .hero-section {
        .section {
            .investment-section {
                .row {
                    .col {
                        flex: 100%;
                        max-width: 100%;
                        margin-bottom: 24px;
                    }
                }
            }
        }

    }


}